body{
   line-height: 2;
}
header{
    margin: auto;
}

 nav{
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
    margin: auto;
    text-align: center;
    /*margin-top: 0px;
    margin-bottom: 18px;
    margin-left: 16px;
    margin-right: 16px ;*/
    

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    list-style-type: none;
    display: inline-block;
    margin-top: 32px;
    margin: left 24px;;
    margin-right: 24px;
    padding: 10px;
    font-size: 24px;
    background-color: #FFE5B4;
}

nav a{
    /* Set text decoration*/
    text-decoration-line: none;
    
    
}

a:visited{
    color: #000;

}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 10px;
    text-transform: uppercase;
}


h1{
   /*Set font and font size*/
   font-family: Merriweather, Anton, "Times New Roman", Arial;
   font-size: 32px;
   margin-left: 120px;

}

h2{
    /*Set font, font size, and alignment*/
    font-size: 40px;
    line-height: normal;
    font-family:Anton, "Times New Roman", Verdana ;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 28px;

}

h1, h2, h3{
    /*Set margin */
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
}
.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    border: 0px solid;
    border-radius: 10px; ;
    width: 90%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    background-color: #4984ae;
}
img{
    margin-left: 32px;
    margin-top: 0px;
}

.grid div{
    /* Set border properties, padding, and background color */
    border-radius: 10px;
    border: 3px solid;
    padding: 16px;
    margin: 0px;
    background-color: #fff;
    


}
.grid img{
    /* Set width, margin, and display */
    width: 90%;
    margin: auto;
    display: block;
}

.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 5px 5px 10px 5px #c8bca7;
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
    box-shadow: -5px 5px 10px 5px #c8bca7;
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
     box-shadow:5px 5px 10px 5px  #c8bca7,-5px 5px 10px 5px  #c8bca7;
}
    

p + p {
     /* Set indentation */
     text-indent: 16px; ;
  }
  
p{
     /* Set margin */
     line-height:normal;
     margin-left: 16px;
     margin-right: 16px;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    margin-left: 60px;
    list-style-image: url("../images/sketchbook.png") ;
}
p.thanks{
    margin-left: 16px;
}